/* @media (min-width: 319px){
    
} */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
}
/* ---------Section-1 css ---------*/
.section1 {
  /* background-image: url('img/headerSVG.svg'); */
  background-repeat: no-repeat;
  background-size: 100%;
  height: 900px;
}

/* Absolute flex Box Container */
.bg-design-img {
  /* width: 537px; */
  position: absolute;
  height: 644px;
  background-image: url(img/headerSVG.svg);
  background-repeat: no-repeat;

  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
  z-index: 1;
  top: 20px;
}

.section1_contents {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.section1_contents .mainPageImg {
  width: 250px;
  height: 250px;
  margin-top: 10px;
  flex-shrink: 0;
}
.section1_contents .main-heading h1 {
  margin: 0;
  color: #212529;
  text-align: center;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px; /* 150% */
  /* padding: 0 70px; */
}
.section1_contents .main-heading {
  text-align: center;
  width: 335px;
  height: 162px;
  margin-top: 23px;
  margin-left: 20px;
  margin-right: 20px;
}
.section1_contents .main-heading h1 span {
  color: #ff7e20;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 54px;
}
.section1_contents .main-subHeading {
  /* margin-top: -40px; */
  height: 66px;
  margin-top: 12px;

  color: #212529;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
}
.section1_contents .main-subHeading h3 {
  color: #212529;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 187.5% */
  margin: 0;
}
.section1_contents .main-subHeading span {
  color: #ff7e20;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;

  margin-top: 20px;
  color: #ff7e20;
}
.quickEnquiry .quickEnqBtn {
  width: 240px;
  height: 46px;
  flex-shrink: 0;
  background-image: linear-gradient(
    90deg,
    #ed7e43 0%,
    #fe5184 67.07%,
    #bc5d9a 100%
  );
  margin-top: 16px;
  border: none;
  border-radius: 5px;

  color: #fff;
  text-align: center;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 137.5%; /* 20.625px */
  letter-spacing: 0.15px;
}

/* --------Section 2- FlexBox1----- */

.section2 {
  height: 376px;
  /* background-color: aquamarine; */
  padding: 20px;
  position: absolute;
  width: -moz-available;
  width: -webkit-fill-available;
  width: fill-available;
  z-index: 1;
  top: 604px;
}

.courseStructur {
  border: 1px solid #f2f2f2;
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  min-height: 376px;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.courseStructur .courseParentFlex {
  padding: 15px 28px;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 30px;
  width: auto;
  height: 40px;
}

.courseStructur .courseParentFlex h3 {
  margin: 0 auto;
  color: #212529;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 186.667% */
}

.courseStructur .courseParentFlex p {
  margin: 0 auto;
  color: #818181;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 150% */
}

/* ---------Section-3 css ---------*/

.heading {
  color: #212529;
  text-align: center;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 150% */
}

.section3 {
  position: relative;
  height: 256px;
  border: 1px solid #fff3d7;

  /* width: 70.3vh; */
  background-color: #fff3d7;
  text-align: center;
  align-items: center;
}

.section3_contents {
  margin-top: 125px;
  align-items: center;
  text-align: center;
  /* border: 2px solid orange; */
}

.section3_contents .heading {
  /* border: 1px solid yellowgreen; */
  margin: 0 20px;
}

.sec3_imgFlex {
  /* border: 1px solid blue; */
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sec3_imgFlex img {
  margin: 0 16px;
}

/* ------Section-4 : Industry Insight--------*/

.section4 {
  background-color: #fff;
  /* border: 2px solid orange; */
  align-items: center;
  text-align: center;
}
.section4_contents {
  border: 1.5px solid #e6e6e6;
  /* height: 300px; */
  padding: 20px;
  margin: 20px;
}

.industryInsightDiv {
  /* border: 2px solid blue; */
  /* height: 300px; */
  /* padding: 20px; */
  /* margin: 20px; */
}

.indusIns_item {
  /* border: 1px solid yellowgreen; */
  margin: 10px 0;
}

.indusIns_item h3 {
  color: #212529;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 155.556% */
}
.indusIns_item p {
  color: #212529;
  text-align: center;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px; /* 140% */
}
.indusIns_item + .item3 {
  padding: 10px;
  background-image: linear-gradient(135deg, #f3f8ff 0%, #eff5ff 100%);
}

.section5 {
  /* height: 500px; */
  /* border: 2px solid orange; */
}

.section5_content {
  margin: 20px;
  margin-top: 40px;
  /* border: 2px solid red; */
}

.courseHighlightsDiv {
  /* border: 2px solid orange; */
  display: grid;
  grid-template-columns: auto;
  margin-top: 29px;
  /* margin-top: 30px; */
}
.courseHighlightGrid {
  /* border: 2px solid red; */
}
.courseHighlightGrid .courseHigh_items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 3px;
  /* margin: 28px 20px; */
}
.courseHighlightGrid .courseHigh_items img {
  margin: 12px 20px;
}

/* <!-- ---Section-6 : Student Testimonials---- --> */

/* Header content */
.section6 {
  /* height: 500px; */
  /* border: 2px solid orange; */
  background-image: linear-gradient(99.61deg, #f3f8ff -0.51%, #eff5ff 100.66%);
  padding-top: 35px;
}
.section6_content .heading {
  margin: 35px 15px;
  margin-bottom: 20px;
}

.TestimonalRatings {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.TestimonalRatings p {
  margin: 0;
  color: #212529;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
}

.TestimonalRatings h5 {
  margin: 0;
  /* width: 30px; */
  color: #212529;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.TestimonalRatings .stars {
  margin: 0;
}

/* review */
.review_container {
  /* border: 2px solid blueviolet; */
  margin: 20px 10px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #e6e6e6;
  background-color: #fff;
  padding-bottom: 40px;
  /* width: 345px;*/
  /* height: 358px; */
}

.review_content {
  color: #212529;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 180% */
}

.reviewersProfile {
  display: flex;
  gap: 16px;
  margin-top: 30px;
}

.abtReviewer p {
  margin: 0;

  color: #212529;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 166.667% */
}

.abtReviewer .name {
  color: #212529;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

  margin-bottom: 7px;
}
.owl-theme .owl-dots,
.owl-theme .owl-nav {
  /* text-align: center;
    -webkit-tap-highlight-color: transparent; */
  display: none;
}

/* -----Section-7: About The Course------ */
.section7 {
  background-image: url(img/abtTheCourse-bg.svg);
  padding-top: 35px;
  /* height: 500px; */
}

.section7 .heading {
  color: #fff;
}

.section7_content {
  /* border: 2px solid orange; */
}

.abtTheCourse_container {
  /* width: 325px;
  height: 350px; */
  margin-right: 15px;
  /* background-color: #fe5184; */
  /* margin-top: 18px; */
  /* padding-top: 20px; */
}

.abtTheCourse_content {
  background-color: #fff;
  /* border: 2px solid black; */
  /* margin: 35px 15px; */
  align-items: center;
  text-align: center;
  /* width: 325px; */
  height: 320px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 30px 0;
  margin-left: 15px;
  border-radius: 5px;

  /* align-content: space-between; */
  /* flex-wrap: nowrap; */
}

.abtTheCourse_content img {
  width: 155px;
  height: 106.134px;
  flex-shrink: 0;
}

.abtTheCourse_content h3 {
  color: #212529;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  /* padding: 42px; */
}

.abtTheCourse_content p {
  color: #212529;
  text-align: center;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 186.667% */

  padding: 0 32px;
}

.owl-theme .owl-dots {
  /* text-align: center;
    -webkit-tap-highlight-color: transparent; */
  display: none;
}

/* -----Section-8: Completion Certification-----  */
.section8 {
  background-color: #fff;
  /* height: 500px; */
  /* margin-bottom: 65px; */
}
.section8_container {
  /* border: 2px solid orange; */
}

.complCertifcateBlock {
  /* height: 300px; */
  display: flex;
  flex-direction: column;
  /* border: 2px solid red; */
  padding: 20px;
  padding-top: 74px;
}

@media (min-width: 768px) {
  .complCertifcateBlock {
    /* height: 300px; */
    /* display: flex; */
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    /* border: 2px solid red; */
    /* padding: 20px; */
  }
  .complCertifcateBlock .complCertHeading {
    display: flex;
    gap: 16px;
  }
}

.complCertifcateBlock .complCertHeading {
  display: flex !important;
  flex-direction: row !important;
  gap: 16px;
}
.complCertifcateBlock .complCertHeading h2 {
  color: #212529;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 150% */
}
.complCertifcateBlock p {
  color: #000;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 186.667% */
  padding: 0;
  margin: 0;
}

.complCertifcateBlock .compCertificateImg {
  text-align: center;
  margin: 35px 0;
}

/* <!-- -----Section-9: Completion Certification --> */
.section9 {
  background-color: #fff;
  /* border: 2px solid blueviolet; */
}
.section9_container {
  /* border: 2px solid orange; */
  padding-top: 70px;
  /* padding-bottom: 30px; */
}

.indusCertiDiv1 {
  /* border: 2px solid yellowgreen; */
  margin: 30px 0;
  padding-left: 20px;
  text-align: center;
}
.indusCerti-item {
  max-width: 317px;
  min-width: 317px;
  border: 1px solid #d9e0e4;
  border-radius: 5px;
  padding: 20px 0;
  margin-right: 5px;
}
.indusCerti-item:hover {
  background-image: linear-gradient(
    90deg,
    #ed7e43 0%,
    #fe5184 67.07%,
    #bc5d9a 100%
  );
  box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.11);
}

.indusCerti-item span {
  color: black;
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.indusCerti-item span:hover {
  color: #fff;
}

/* indusCertiDiv2 */
.indusCertiDiv2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;

  /* border: 2px solid salmon; */
  padding: 40px;
  /* margin: 0px; */
}

@media (min-width: 768px) {
  .indusCertiDiv2 {
    display: flex;
    flex-direction: row;
    gap: 62px;
  }
}

.indusCertiContentDiv .indusCertiSubContentDiv1 {
  display: flex;
  gap: 14px;
}
.indusCertiContentDiv .indusCertiSubContentDiv1 h2 {
  color: #212529;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.indusCertiContentDiv p {
  width: 335px;
  color: #000;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 186.667% */
}
.indusCertiContentDiv .indusCertiSubContentDiv2 {
  display: flex;

  gap: 5px;
}
.indusCertiContentDiv .indusCertiSubContentDiv2 div {
  /* width: 129px; */
  height: 37px;
  padding: 0 8px;
  background-color: #e7edf0;
  flex-shrink: 0;
  border-radius: 5px;
  color: #000;
  font-family: Open Sans;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px; /* 269.231% */
}

/* -----Section-10: Skills You Will Learn------ */
.section10 {
  border: 2px solid orange;
}
.section10_container {
  /* margin: 20px; */
  /* height: 500px; */
  margin: 20px;
  padding: 25px;
  border: 2px solid;

  background-image: url("img/Skills_mobile-jpg.jpg");
  background-repeat: no-repeat;
  /* width: 100%; */
  background-size: contain;
  padding-top: 244px;
}

@media (min-width: 425px) and (max-width: 767px) {
  .section10_container {
    padding-top: 329px;
  }
}
.section10_container .heading {
  color: #fff;
  text-align: start;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px; /* 150% */

  padding-bottom: 10px;
}
.skillsYouLearnGrid {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
  /* padding-bottom: -60px; */
  padding-top: 30px;
  border: 2px solid blue;
}
.skillYL_gridItem {
  display: flex;
  gap: 10px;

  color: #fff;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.skillYL_gridItem p {
  padding: 0;
  margin: 0;
}

/* -----Section-11: TOp Career option in Diital Marketing------ */

.section11 {
  background-color: #f1f7ff;
  padding-top: 65px;
}

.topCareerInDM_item {
  /* width: 280px; */
  height: 304px;
  flex-shrink: 0;
  margin-bottom: 40px;
  margin-top: 40px;
  transition: all 1s;
}
.topCareerInDM_item .card:hover {
  background-image: linear-gradient(180deg, #f7b541 0%, #f90 81.04%);
  box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.1);
  transition: all 1s;
}
.topCareerInDM_item .card:hover .card-body .card-title {
  color: #fff;
}
.topCareerInDM_item .card:hover .card-body .card-text {
  color: #fff;
}
.topCareerInDM_item .card:hover .img1 {
  background-image: url(img/topCareerInDm1.1.png);
}
.topCareerInDM_item .card:hover .img2 {
  background-image: url(img/topCareerInDm2.1.png);
}
.topCareerInDM_item .card:hover .img3 {
  background-image: url(img/topCareerInDm3.1.png);
}
.topCareerInDM_item .card:hover .img4 {
  background-image: url(img/topCareerInDm4.1.png);
}
.topCareerInDM_item .card {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.topCareerInDM_item .card .card-img {
  margin-top: 52px;
  width: 63px;
  height: 63px;
  flex-shrink: 0;
}
.topCareerInDM_item .card .card-img-div {
  margin-top: 52px;
  width: 63px;
  height: 63px;
  flex-shrink: 0;
  /* border: 1px solid red; */
}
.topCareerInDM_item .card .img1 {
  background-image: url(img/topCareerInDm1.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.topCareerInDM_item .card .img2 {
  background-image: url(img/topCareerInDm2.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.topCareerInDM_item .card .img3 {
  background-image: url(img/topCareerInDm3.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.topCareerInDM_item .card .img4 {
  background-image: url(img/topCareerInDm4.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.topCareerInDM_item .card-body .card-title {
  color: #212529;
  text-align: center;
  font-family: Open Sans;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.topCareerInDM_item .card-body .card-text {
  width: 230px;

  color: #212529;
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
}

/* ----Tools You Will Learn----- */
.section12 {
  padding-top: 80px;
}

.toolsYouWillLearn_flexBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.toolsYouWillLearn_flexBox img {
  width: 135px;
  height: 55px;
  flex-shrink: 0;
  margin: 15px;
  padding: 0;
}

@media (min-width: 375px) and (max-width: 494px) {
  .toolsYouWillLearn_flexBox img {
    width: 108px !important;
    height: 44px !important;
    flex-shrink: 0;
    margin: 5px;
  }
}

/* -----Section-13: Instructors------- */

.section13 {
  padding: 75px 0px;
}

.InstructorsDiv {
  margin-top: 45px;
  display: flex;

  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 29px;

  /* border: 2px solid blue; */
}

.InstructorsDiv .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* flex-wrap: wrap; */
  align-items: center;
  text-align: center;
  /* border: 2px solid orange; */
  border-radius: 5px;
  /* width: 531px; */
  height: 520px;
  flex-shrink: 0;
  background-image: linear-gradient(
    135deg,
    #deecff 0%,
    #eff3f8 24.92%,
    #f1f7ff 76.95%,
    #ddecff 100%
  );
  padding: 50px 41px;
}
@media (max-width: 768px) {
  .InstructorsDiv .card {
    /* width: 332px; */
    height: 539px;
    flex-shrink: 0;

    padding: 50px 20px;
  }
}

.InstructorsDiv .card .card-img {
  width: 171px;
  height: 156px;
  border: 2px solid #03b5d5;
  border-radius: 30px;
  flex-shrink: 0;
  /* margin-top: 45px; */
  display: inline;
}

.InstructorsDiv .orgExp_flexBox {
  display: flex;
  justify-content: space-between;
}

.InstructorsDiv .orgExp_flexBox .orgExp_item {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
  align-items: center;
  text-align: center;
}
.InstructorsDiv .orgExp_flexBox .orgExp_item img {
  width: 15px;
  height: 15px;
  flex-shrink: 0;
}
